@import "bootstrap-sprockets";
@import "bootstrap";

.registration-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image-url('register_background.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
